python-dotenv
pydantic
pydantic-settings
opensubtitlescom
fastapi>=0.100.0
uvicorn[standard]>=0.22.0
jinja2>=3.1.0
python-multipart>=0.0.6        # for form parsing
apscheduler
fastapi-utils>=0.2.2
typing-inspect>=0.8.0
aiofiles>=0.8.0
httpx>=0.24.0
more_itertools
sse-starlette
testcontainers
asyncpg
aiolimiter
