python-dotenv
pydantic
pydantic-settings
requests
opensubtitlescom
fastapi>=0.100.0
uvicorn[standard]>=0.22.0
jinja2>=3.1.0
python-multipart>=0.0.6        # for form parsing
apscheduler
celery[redis]>=5.3.0
redis>=4.5.0
celery-stubs==0.1.3